@model business.Application.Web.Models.Customers.CustomerListViewModel
@* @using business.Application.Web.Models.Customers
@model Tuple<CustomerListViewModel,EditCustomerViewModel> *@

<form id="myForm" method="post">
    <h2>Таблица клиентов</h2>
    <input type="text" id="searchInput" placeholder="Поиск...">
    <button id="addUserBtn" type="button">Добавить пользователя</button>
    @*Таблица клиентов*@
    <table>
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Телефон</th>
                <th>Почта</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ppl in Model.Customers)
            {
                <tr id="@Model">
                    <td>
                        <a asp-controller ="Customer" asp-action="TableCustomers" asp-route-id="@ppl.Id">@ppl.Middlename @ppl.Name @ppl.Surname</a>
                    </td>
                    <td><a asp-controller ="Customer" asp-action="TableCustomers" asp-route-id="@ppl.Id">@ppl.Phone</a></td>
                    <td><a asp-controller ="Customer" asp-action="TableCustomers" asp-route-id="@ppl.Id">@ppl.Email</a></td>
                </tr>
            }
        </tbody>
    </table>
    @*Кнопки перелистывания страниц таблицы*@
    <div style="text-align: center;">
        <a href="/Customer/TableCustomers/?page=@(Model.Page - 1)&page-size=@(Model.PageSize)" class="btn @(Model.CanBack == false ? "disable" : "")">Предыдущая</a>
        <a href="/Customer/TableCustomers/?page=@(Model.Page + 1)&page-size=@(Model.PageSize)" class="btn @(Model.CanForward == false ? "disable" : "")">Следующая</a>
    </div>
    @*Выпадающий список*@
    <div class="dropdown">
        <img src="~/img/DropDownImg.svg" alt="Кол-во записей">
        <div class="dropdown-content">
            <a href="/Customer/TableCustomers/?page=@(Model.Page)&page-size=2">2</a>
            <a href="/Customer/TableCustomers/?page=@(Model.Page)&page-size=5">5</a>
            <a href="/Customer/TableCustomers/?page=@(Model.Page)&page-size=10">10</a>
            <a href="/Customer/TableCustomers/?page=@(Model.Page)&page-size=20">20</a>
        </div>
    </div>


    
</form>

<partial name="AddCustomer"/>
@if(@Model.CustomerForEdit != null){
    <partial name="EditCustomer" model="@Model.CustomerForEdit" />
}

<script>
    const addUserBtn = document.getElementById('addUserBtn');
    const dialog = document.getElementById('dialog');
    const closeButton = document.getElementById('close');

    addUserBtn.addEventListener('click', () => {
        dialog.style.display = 'block';
    });
    closeButton.addEventListener('click', () => {
        dialog.style.display = 'none';
    });

    // const editUserBtn = document.getElementById('editUserBtn');
    const editDialog = document.getElementById('editDialog');
    const editCloseButton = document.getElementById('editClose');

    // editUserBtn.addEventListener('click', () => {
    //     editDialog.style.display = 'block';
    // });
    editCloseButton.addEventListener('click', () => {
        editDialog.style.display = 'none';
    });
    
</script>
