@model business.Application.Web.Models.Customers.CustomerListViewModel
<form id="myForm" method="post">
    <h2>Таблица клиентов</h2>
    <input type="text" id="searchInput" placeholder="Поиск...">
    <button id="addUserBtn" type="button">Добавить пользователя</button>
    @*Таблица клиентов*@
    <table>
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Телефон</th>
                <th>Почта</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ppl in Model.Customers)
            {
                <tr>
                    <td>@ppl.Middlename</td>
                    <td>@ppl.Name</td>
                    <td>@ppl.Surname</td>
                    <td>@ppl.Phone</td>
                    <td>@ppl.Email</td>
                    <td>...</td>
                </tr>
            }
        </tbody>
    </table>
    @*Кнопки перелистывания страниц таблицы*@
    <div style="text-align: center;">
        <a href="/Customer/TableCustomers/?page=@(Model.Page - 1)&page-size=@(Model.PageSize)" class="btn @(Model.CanBack == false ? "disable" : "")">Предыдущая</a>
        <a href="/Customer/TableCustomers/?page=@(Model.Page + 1)&page-size=@(Model.PageSize)" class="btn @(Model.CanForward == false ? "disable" : "")">Следующая</a>
    </div>
    @*Выпадающий список*@
    <div class="dropdown">
        <img src="~/img/DropDownImg.svg" alt="Кол-во записей">
        <div class="dropdown-content">
            <a href="/Customer/TableCustomers/?page=@(Model.Page)&page-size=2">2</a>
            <a href="/Customer/TableCustomers/?page=@(Model.Page)&page-size=5">5</a>
            <a href="/Customer/TableCustomers/?page=@(Model.Page)&page-size=10">10</a>
            <a href="/Customer/TableCustomers/?page=@(Model.Page)&page-size=20">20</a>
        </div>
    </div>


    
</form>




<partial name="AddCustomer" />

<script>
    const addUserBtn = document.getElementById('addUserBtn');
    const dialog = document.getElementById('dialog');
    const closeButton = document.getElementById('close');

    addUserBtn.addEventListener('click', () => {
        dialog.style.display = 'block';
    });
    closeButton.addEventListener('click', () => {
        dialog.style.display = 'none';
    });
    
    
    
</script>
