@model business.Application.Web.Models.Orders.OrderListViewModel

<form id="myForm" method="post">
    <h2>Таблица заказов</h2>
    <input type="text" id="searchInput" placeholder="Поиск...">
    <button asp-controller="Order"
            asp-action="TableOrders"
            asp-route-id="-1">
    Добавить заказ
    </button>
    @*Таблица клиентов*@
    <table>
        <thead>
            <tr>
                <th>Клиент</th>
                <th>Стоимость</th>
                <th>Статус заказа</th>
                <th>Дата заказа</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ppl in Model.Orders)
            {
                <tr id="@Model">
                    <td>@ppl.Customer.Surname @ppl.Customer.Name @ppl.Customer.Middlename</td>
                    <td>@ppl.TotalCost</td>
                    <td>@ppl.OrderStatus.Status</td>
                    <td>@ppl.OrderDate</td>
                    <td>
                        <button asp-controller="Order"
                                asp-action="TableOrders"
                                asp-route-id="@ppl.Id">
                            ...
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    @*Кнопки перелистывания страниц таблицы*@
    <div style="text-align: center;">
        <a href="/Order/TableOrders/?page=@(Model.Page - 1)&page-size=@(Model.PageSize)" class="btn @(Model.CanBack == false ? "disable" : "")">Предыдущая</a>
        <a href="/Order/TableOrders/?page=@(Model.Page + 1)&page-size=@(Model.PageSize)" class="btn @(Model.CanForward == false ? "disable" : "")">Следующая</a>
    </div>
    @*Выпадающий список*@
    <div class="dropdown">
        <img src="~/img/DropDownImg.svg" alt="Кол-во записей">
        <div class="dropdown-content">
            <a href="/Order/TableOrders/?page=@(Model.Page)&page-size=2">2</a>
            <a href="/Order/TableOrders/?page=@(Model.Page)&page-size=5">5</a>
            <a href="/Order/TableOrders/?page=@(Model.Page)&page-size=10">10</a>
            <a href="/Order/TableOrders/?page=@(Model.Page)&page-size=20">20</a>
        </div>
    </div>



</form>

@* <partial name="AddCustomer" />*@
@if (@Model.OrderForEdit != null)
{
    <partial name="EditOrder" model="@Model.OrderForEdit" />
} 

<script>
    //const addUserBtn = document.getElementById('addUserBtn');
    const dialog = document.getElementById('dialog');
    const closeButton = document.getElementById('close');

    // addUserBtn.addEventListener('click', () => {
    //     dialog.style.display = 'block';
    // });
    // closeButton.addEventListener('click', () => {
    //     dialog.style.display = 'none';
    // });

    // const editUserBtn = document.getElementById('editUserBtn');
    const editDialog = document.getElementById('editDialog');
    // editUserBtn.addEventListener('click', () => {
    //     editDialog.style.display = 'block';
    // });
    const editCloseButton = document.getElementById('editClose1');
    editCloseButton.addEventListener('click', () => {
        editDialog.style.display = 'none';
        //window.location.href = window.location.pathname
    });

</script>
